@import "../utils/scss/variables";

#appbar-component {
  background: $appbar-bg-color;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;

  img {
    width: 60px;
    height: 60px;
    background: rgba($black, 0.3);
  }

  h1 {
    margin: 0;
    font-size: 18px;
  }

  a {
    opacity: 0.6;
    text-decoration: none;
    transition: 0.3;
    font-size: 14px;

    &:hover { opacity: 1; }
  }

  > a,
  img,
  > h1 {
    color: $white;
    margin-right: 20px;
  }
}