body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  line-height: rem(24);
}

// Responsive helper - DEBUG ONLY
span[role='debug'] {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  @include mq('lg') { border-top: 3px solid $green; }
  @include mq('md') { border-top: 3px solid $yellow; }
  @include mq('sm') { border-top: 3px solid $red; }
}

.container {
  margin: auto;
  max-width: 80%;
}