// AppBar
$appbar-bg-color: #252248;

// Global
$radius: 3px;
$round: 1000px;
$sans: 'Helvetica', sans-serif;
$serif: 'Georgia', serif;

// Colors
$red: #FF4136;
$orange: #FF851B;
$yellow: #FFDC00;
$green: #2ECC40;
$blue: #0074D9;
$pink: #F012BE;
$purple: #B10DC9;
$navy: #001f3f;
$aqua: #7FDBFF;
$teal: #39CCCC;
$olive: #3D9970;
$lime: #01FF70;
$maroon: #85144b;
$black: #000;

// Shades
$almost-black: #333;
$dark: #666;
$grey: #ccc;
$light: #f9f9f9;
$white: #fff;
$trans: transparent;

// Semantics
$brand: $blue;
$primary: $blue;
$secondary: $light;
$success: $green;
$info: $teal;
$warning: $yellow;
$error: $red;

